{% extends 'base_course.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-cols">
  <div class="gcb-col-1">
  </div>
  <div class="gcb-col-7 gcb-aside gcb-button-box">

    <p class="gcb-top-content">
      {# I18N: Shown after the student has submitted an assessment. #}
      {{ gettext('Thank you for submitting %(assessment_name)s. 
      The system has recorded this submission as
       %(score)s%% complete.' % {'assessment_name': assessment_name|lower, 'score': score}) }}
      <br/><br/>
      If this "assessment module" was not recorded as 100% complete, you may return and 
      modify it later. <br/><br/>Links to all of the "assessment modules" can be found 
      on the course home page. A summary of which "assessment modules" 
       you have completed can be found by clicking on the progress tab above.

    </p>

    <br>

    {% if 'assessment_confirmations' in course_info and is_last_assessment and overall_score != None and result %}
      <!-- Displays result-specific text for the final assessment. -->
      <p class="gcb-top-content">
        {{course_info.assessment_confirmations['result_text'][result] % overall_score}}
      </p>
    {% endif %}

    <p>
      {% if assessment_name == 'Certification - Part 1' %}
      <p>
      <a style="background-color:green" class="gcb-button" href="unit?unit=4&lesson=10">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Continue to the next lesson') }}
      </a>
      </p>
      {% endif %}
</p>
      {% if assessment_name == 'Certification - Part 1' %}
      <p>
      <a class="gcb-button" href="assessment?name=14">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Re-enter password') }}
      </a>
      </p>
      {% endif %}





      {% if assessment_name == 'Certification - Week 3 Robot Projects' %}
      <p>
      <a style="background-color:green" class="gcb-button" href="unit?unit=24">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Return to Week 3 Lessons') }}
      </a>
      </p>
      {% endif %}





      {% if assessment_name == 'Certification - MidPoint Feedback' %}
      <p>
      <a style="background-color:green" class="gcb-button" href="unit?unit=25&lesson=54">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Continue to the next lesson') }}
      </a>
      </p>
      {% endif %}

      {% if assessment_name == 'Certification - MidPoint Feedback' %}
      <p>
      <a class="gcb-button" href="assessment?name=29">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Re-enter password') }}
      </a>
      </p>
      {% endif %}

      {% if assessment_name == 'Certification - Week 4 Robot Projects' %}
      <p>
      <a style="background-color:green" class="gcb-button" href="unit?unit=25">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Return to Week 4 Lessons') }}
      </a>
      </p>
      {% endif %}

      {% if assessment_name == 'Certification - Post Course Feedback' %}
      <p>
      <a style="background-color:green" class="gcb-button" href="unit?unit=26&lesson=65">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Continue to the next lesson') }}
      </a>
      </p>
      {% endif %}

      {% if assessment_name == 'Certification - Post Course Feedback' %}
      <p>
      <a class="gcb-button" href="assessment?name=66">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Re-enter password') }}
      </a>
      </p>
      {% endif %}

      {% if assessment_name == 'Certification - Week 5 Robot Project' %}
      <p>
      <a style="background-color:green" class="gcb-button" href="unit?unit=26">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Return to Week 5 Lessons') }}
      </a>
      </p>
      {% endif %}

      <a  class="gcb-button" href="course">
        {# I18N: Shown after the student has submitted an assessment. This button allows the student to navigate back to the main course page. #}
        {{ gettext('Return to the course') }}
      </a>
    </p>

  </div>
</div>

{% endblock %}
