{% extends 'base_preview.html' %}

{% block main_content %}

    <h1 align="left"><a href="http://www.rowan.edu/ruler"><img
          alt="Rowan University Laboratory for Educational Robotics"
          src="http://elvis.rowan.edu/%7Ekay/robotics/gif/ruler_lab_small.jpg"
          border="0" height="154" width="300"></a></h1>
    <h1 align="left"><font color="#000099">Educational Robots for
        Absolute Beginners</font></h1>

<ul>
<h2>Return to <a href = "https://cs4hsrobots.appspot.com/">the course home
page</a></h2></ul>



    <h1 align="left"><font color="#000099">Frequently Asked Questions</font></h1>
    <ul>
      <li><a href="/faq#really_begin">I really am an absolute beginner - 
         I've never programmed before and I've
       never done anything with robots - is this course really suitable for me?
</a><br>
      <li><a href="/faq#How_do_I_sign_up">How do I sign up?</a><br>
      </li>
      <li><a href="/faq#How_does_the_course_work">How does the course work</a>?</li>
      <li><a href="/faq#When_does_the_course_start">When does the course
          start</a>?</li>
      <li><a href="/faq#How_much_time_will_it_take_each_week">How much time
          will it take each week</a>?</li>
      <li><a href="/faq#What_happens_if_I_dont_have_time_to">What happens if
          I don't have time to finish a given week of the course as
          scheduled</a>?</li>
      <li><a href="/faq#Can_I_start_this_course_late">Can I start this
          course late</a>?<br>
      </li>
      <li><a href="/faq#Is_this_course_really_free">Is this course really
          free</a>?</li>
      <li><a href="/faq#Im_not_a_teacher_can_I_still_take_this">I'm not a
          teacher, can I still take this course for free</a>?</li>
      <li><a href="/faq#Why_do_I_need_to_have_a_Google_account">Why do I
          need to have a Google account to take the course?</a></li>
      <li><a href="/faq#How_do_I_get_a_Google_Account">How do I get a Google
          account?</a><br>
      </li>

      <li><a href="/faq#Do_I_need_to_have_a_LEGO_Mindstorms_NXT">Do I need
          to have a LEGO Mindstorms NXT robot to take this course</a>?</li>
      <li><a href="/faq#I_dont_have_a_LEGO_Mindstorms">I don't have a LEGO
          Mindstorms NXT robot and software. Where can I get one?</a></li>
      <li><a href="/faq#Do_you_know_of_any_resources_for_getting">Are there
          any resources for getting grants to fund the purchase of
          robots?</a><br>
      </li>
      <li><a href="/faq#I_have_a_LEGO_Mindstorms_EV3_robot_-_can">I have a
          LEGO Mindstorms EV3 robot - can I use that for this course</a>?</li>
      <li><a href="/faq#I_have_a_LEGO_Mindstorms_RCX_robot_-_can">I have a
          LEGO Mindstorms RCX robot - can I use that for this course</a>?</li>
      <li><a href="/faq#Why_did_you_pick_the_LEGO_Mindstorms_NXT">Why did
          you pick the LEGO Mindstorms NXT robot and not a different
          robot</a>?</li>
      <li><a href="/faq#Im_a_teacher._Is_there_a_way_for_me_to">I'm a
          teacher. Is there a way for me to get professional development
          credit for this course</a>?</li>
      <li><a href="/faq#Im_a_teacher_can_I_get_a_certificate">I'm a teacher,
          can I get a certificate of completion for this course</a>?</li>
      <li><a href="/faq#Im_not_a_teacher_can_I_get_">I'm not a teacher, can
          I get a certificate of completion for this course</a>?</li>
      <li><a href="/faq#Im_a_peer_reviewer_where_can_I_find">I'm a project
          reviewer, where can I find the rubrics for project evaluation</a>?</li>
      <li><a href="/faq#Im_a_school_principal_and_have_been">I'm a school
          principal and have been asked to certify a certificate of
          completion. What does this mean</a>?<br>
      </li>


    </ul>
    <p><br>
    </p>
    <h2> </h2>
    <h2><a name="really_begin"></a>I really am an absolute beginner - 
         I've never programmed before and I've
       never done anything with robots - is 
    this course really suitable for me?</h2>
    <ul>
      <li> This course is designed for people who have absolutely no 
           experience with programming or robotics, though you do
              need to have some computer experience. If you are comfortable
           using your computer to do
	things like create documents, 
          surf the web, send emails, etc. and you have a 
          basic understanding of how to find files and folders on your PC
          using "my computer" or on your Mac using "finder" you should be fine.

      </li>
    </ul>


    <h2><a name="How_do_I_sign_up"></a>How do I sign up?</h2>
    <ul>
      <li>Simply visit <a
          href="http://cs4hsrobots.appspot.com/">http://cs4hsrobots.appspot.com/</a>
        and you can get started right away.<br>
      </li>
    </ul>
    <p> </p>
    <h2><a name="How_does_the_course_work"></a>How does the course work?</h2>
    <ul>
      <li>This is a five week course. Each week we will add roughly 10
        short lessons to our course web site. Most lessons take the form
        of a 5-10 minute video plus some self-test questions for you to
        track your own progress. In addition, we give you five suggested
        "robot projects" to work on during the final 3 weeks of the
        course.<br>
      </li>
    </ul>
    <h2><a name="When_does_the_course_start"></a>When does the course
      start?</h2>
    <ul>
      <li>The course officially started November 15th, 2013, but you can <a
          href="http://cs4hsrobots.appspot.com/">get started yourself right now!</a> <br>
      </li>
    </ul>
    <h2><a name="How_much_time_will_it_take_each_week"></a>How much time
      will it take each week?</h2>
    <ul>
      <li>We estimate that week one (which has no
        robot activities) will take you an hour or two. We estimate that it will take most beginners 4-6 hours each
        week to watch the videos and do the activities for weeks two through five. <br>
      </li>
    </ul>
    <h2><a name="What_happens_if_I_dont_have_time_to"></a>What happens
      if I don't have time to finish a given week of the course as
      scheduled?<br>
    </h2>
    <ul>
      <li>We encourage you to stick with our schedule - that way the
        discussions in the web forums will be more useful to you.
        However, if you're too busy to do so, you are welcome to take
        the course at your own pace.</li>
    </ul>
    <h2><a name="Can_I_start_this_course_late"></a>Can I start this
      course late?</h2>
    <ul>
      <li>We have no plans to close the course after registration -
        while we can not promise you that the course material will be up
        indefinitely, we anticipate that you will be able to sign up and
        begin the course later if you wish.<br>
      </li>
    </ul>
    <h2><a name="Is_this_course_really_free"></a>Is this course really
      free?</h2>
    <ul>
      <li>Yes! This course was made possible by a generous grant from <a
          href="http://cs4hs.com/">Google's CS4HS program</a><br>
      </li>
    </ul>

    <h2><a name="Im_not_a_teacher_can_I_still_take_this"></a>I'm not a
      teacher, can I still take this course for free?</h2>
    <ul>
      <li>Yes. While this course is designed with teachers in mind, it
        is free and open to anyone who is interested.<br>
      </li>
    </ul>
    <h2><a name="Why_do_I_need_to_have_a_Google_account"></a>Why do I
      need to have a Google account to take the course?</h2>
    <ul>
      <li>Our course was built using the Google <a
          href="https://code.google.com/p/course-builder/">Course-Builder</a>
        tool. In order to register for the course, you need to have a
        Google account.&nbsp;</li>
    </ul>
    <h2><a name="How_do_I_get_a_Google_Account"></a>How do I get a
      Google Account?<br>
    </h2>
    <ul>
      <li>Just visit <a href="http://accounts.google.com/signup">http://accounts.google.com/signup
        </a><br>
      </li>
    </ul>


    <h2><a name="Do_I_need_to_have_a_LEGO_Mindstorms_NXT"></a>Do I need
      to have a LEGO Mindstorms NXT robot to take this course?</h2>
    <ul>
      <li>There's no requirement that you have a robot. Week one of the
        course is a general introduction to the field of educational
        robotics in general and the LEGO NXT robot in particular and
        doesn't require a robot at all. After week one you will need a
        robot, together with the NXT-G software to complete all the
        exercises.&nbsp;</li>
    </ul>
    <h2><a name="I_dont_have_a_LEGO_Mindstorms"></a>I don't have a LEGO
      Mindstorms NXT robot and software. Where can I get one?</h2>
    <ul>
      <li>Before buying a new NXT robot, you should be aware that LEGO
        has just come out with new robot hardware called the EV3. This
        course uses the NXT hardware and not EV3 for <a
          href="/faq#Why_did_you_pick_the_LEGO_Mindstorms_NXT">reasons
          detailed below</a>.</li>
      <li>There are two ways to buy the NXT robot and software. The
        course is based on the educational kit, but the commercial kit
        is very similar</li>
      <ul>
        <li>As of November 2013, <a
            href="http://www.lego.com/en-us/mindstorms/downloads/nxt/nxt-software/">the
commercial

version
of


            the software</a> is available as a free download. This is
          very close to the educational software that we use in the
          course - there only a couple of lessons ("robot educator" and
          "data logging") that you won't be able to do. This software
          works with both the educational and commercial kits.<br>
        </li>
        <li>The educational kit comes from <a
            href="http://www.legoeducation.us/">LEGO education</a>. You
          need to buy the <a
href="http://www.legoeducation.us/eng/product/lego_mindstorms_education_nxt_base_set/2095">base


            set</a> plus the <a
href="http://www.legoeducation.us/eng/product/lego_mindstorms_education_nxt_software_2_1/2240">software</a>
          - note that you may wish to buy the site license for the
          software rather than just a single license. <br>
        </li>
        <li>The <a
            href="http://shop.lego.com/en-US/LEGO-MINDSTORMS-NXT-2-0-8547?p=8547">commercial
kit

(8547)
is


            from regular LEGO</a> and also at many online and shopfront
          retailers. <br>
        </li>
        <li>Now that the EV3 is out, there are likely to be some used
          NXTs available for sale.</li>
      </ul>
    </ul>
    <h2><a name="Do_you_know_of_any_resources_for_getting"></a>Do you
      know of any resources for getting grants to fund the purchase of
      robots?</h2>
    <ul>
      <li>Finding funding for robots can be a challenge. The one
        resource I know of specifically for this question is the <a
          href="https://www.legoeducation.us/eng/grants/">LEGO Education
          Grants</a> web site. <br>
      </li>
    </ul>
    <ul>
      <ul>
      </ul>
    </ul>
    <ul>
    </ul>
    <h2><a name="I_have_a_LEGO_Mindstorms_EV3_robot_-_can"></a>I have a
      LEGO Mindstorms EV3 robot - can I use that for this course?</h2>
    <ul>
      <li>If you have an EV3 robot and the EV3 software, you will find
        many similarities between programming the EV3 and programming
        the NXT. You're welcome to take our course, but if you're an
        absolute beginner, you may find the differences significant
        enough that it will be more confusing than helpful.<br>
      </li>
    </ul>
    <h2><a name="I_have_a_LEGO_Mindstorms_RCX_robot_-_can"></a>I have a
      LEGO Mindstorms RCX robot - can I use that for this course?</h2>
    <ul>
      <li>If you have an RCX robot and the RCX software, you will find
        some similarities between programming the RCX and programming
        the NXT. You're welcome to take our course, but if you're an
        absolute beginner, you may the differences significant enough
        that it will be more confusing than helpful</li>
    </ul>
    <h2><a name="Why_did_you_pick_the_LEGO_Mindstorms_NXT"></a>Why did
      you pick the LEGO Mindstorms NXT robot and not a different robot?</h2>
    <ul>
      <li>There are many excellent robots available for educational use
        and we are not trying to suggest that the LEGO NXT is the best
        for all applications. We picked the NXT robot for several
        reasons including:</li>
      <ul>
        <li>They offer an easy-to-learn visual programming language<br>
        </li>
        <li>Many schools already own them</li>
        <li>We are big fans of (and involved in) <a
            href="http://www.firstlegoleague.org/">FIRST LEGO League</a>
          which is a great way to get 9-14 year olds in robot
          programming. FIRST LEGO League requires that teams use of one
          of the LEGO Mindstorms robots.</li>
      </ul>
      <li>We decided to go with the NXT (and not the EV3 that was just
        introduced) primarily because more people currently have access
        to the NXT. If this course is popular, we'll consider doing a
        new version of it for the EV3 later.<br>
      </li>
      <ul>
      </ul>
    </ul>
    <h2><a name="Im_a_teacher._Is_there_a_way_for_me_to"></a>I'm a
      teacher. Is there a way for me to get professional development
      credit for this course?</h2>
    <ul>
      <li>While we do offer a certificate of completion, we are not
        currently able to offer professional development credits at this
        time. The certificate of completion requires that a colleague
        review your completed robot projects and is signed by your
        school principal. You may wish to speak with your school
        district to see if they'd be willing to grant you professional
        development credits for this class.<br>
      </li>
    </ul>
    <h2><a name="Im_a_teacher_can_I_get_a_certificate"></a>I'm a
      teacher, can I get a certificate of completion for this course?</h2>
    <ul>
      <li>Yes! To be eligible to receive a certificate of completion,
        you need to complete all 5 robot projects successfully and have
        them reviewed by a colleague that your principal designates. The
        certificate of completion has a line on it for your principal's
        signature, to certify that you successfully completed all the
        projects. We ask everyone, but particularly those who apply for
        a certificate of completion, to&nbsp; give us some feedback
        about the course so that we can make it better for you and
        future students.<br>
      </li>
    </ul>
    <h2><a name="Im_not_a_teacher_can_I_get_"></a>I'm not a teacher, can
      I get a certificate of completion for this course? <br>
    </h2>
    <ul>
      <li>Yes, though it may not be as meaningful if you're not a
        teacher. Because we do not have a way to check your robot
        projects ourselves, we only offer the "teacher style"
        certificate which has a space for a principal's signature.&nbsp;</li>
    </ul>
    <h2><a name="Im_a_peer_reviewer_where_can_I_find"></a>I'm a project
      reviewer, where can I find the rubrics for project evaluation?</h2>
    <ul>
      <li>The rubrics will not be posted until the projects are made
        public. Once the projects are made public, the rubrics will be
        available at: <a href="http://www.rowan.edu/robots/cs4hs">http://www.rowan.edu/robots/cs4hs</a></li>
    </ul>
    <h2><a name="Im_a_school_principal_and_have_been"></a>I'm a school
      principal and have been asked to certify a certificate of
      completion. What does this mean?</h2>
    <ul>
      <li>Due to the massive size of this course (we anticipate having
        hundreds of teachers will participate), we are unable to
        evaluate the projects ourselves. We ask that you, or your
        designee (we suggest this be another administrator, supervisor,
        or teacher), review each of the five robot projects using the
        rubrics we provide. The rubrics will not be posted until the
        projects are made public. Once the projects are made public, the
        rubrics will be available at: <a
          href="http://www.rowan.edu/robots/cs4hs">http://www.rowan.edu/robots/cs4hs</a></li>
    </ul>
    <p><br>
    </p>
    <p><br>
    </p>
    <ul>
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
{% endblock %}