{% extends 'base_course.html' %}

{% block top_content %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block main_content %}
<div id="gcb-main">
  <div class="gcb-article tab-content">
    <div class="gcb-aside">

      <p>
        Welcome! Please enter the following information and you will be preregistered for the course.
      </p>

      <form action="pre_register" method='post'>
        <fieldset>
          <ol>
            <li>
              <label class="gcb-reg-form-label" for="form02">
                {# I18N: A question in the registration form. #}
                {{ gettext('Name') }}
              </label>
              <input
                name="form02" id="form02" type="text"
                value="">
            </li>
            <li>
			  <label class="gcb-reg-form-label" for="form03">
			    {{ gettext('Email') }}
			  </label>
			  <input
			    name="form03" id="form02" type="text"
				value="">
			</li>
          </ol>
        </fieldset>

        <button class="gcb-button" type="submit">
          {# I18N: Button at the end of the registration form for a course. #}
          {{ gettext('Submit') }}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
