{% if can_register %}
  <div class="gcb-col-5">
    <center>
      {% if show_registration_page %}
        <a style="background-color:green"class="gcb-button gcb-button-large" href="getstarted" role="button">
          {# I18N: Registration button on the main course page. #}
          {{ gettext('Get Started') }}
        </a>
        <a class="gcb-button gcb-button-large" href="faq" role="button">
          {# I18N: Registration button on the main course page. #}
          {{ gettext('More Info') }}
        </a><br/>
<a class="gcb-button gcb-button-small" href="https://docs.google.com/forms/d/1yEmyKyniszDMuwZ3t3YtarCQgVadIYbZhJlz9xN5lgM/viewform" role="button" target="_blank">
Send Private Feedback
</a>
      {% else %}
        <form action='register' method='post'>
          <input type="hidden" name="xsrf_token" value="{{ register_xsrf_token|escape }}">
          <input type="hidden" name="name_from_profile">
          <button class="gcb-button gcb-button-large" type="submit">
            {# I18N: Registration button on the main course page. #}
            {{ gettext('Register') }}
          </button>
        </form>
      {% endif %}
    </center>
  </div>
{% endif %}
