{% extends 'base_course.html' %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  {{ gettext('Announcements') }}
{% endblock subtitle %}

{% block top_content %}

<h2>Resources</h2>

{% endblock %}

{% block main_content %}

<h3>LEGO Education Support: <a href="http://support.legoeducation.us/support?art=undefined">Link</a></h3>
<h3>LEGO Mindstorms Support: <a href="http://mindstorms.lego.com/en-us/support/default.aspx">Link</a></h3>
<h3>NXT Information and Instruction Booklet: <a href="http://cache.lego.com/r/education/-/media/LEGO%20Education/Home/Downloads/Building%20Instructions/MINDSTORMS/ts.20120319T074330.BI_9797.zip">Download</a></h3>
<h3>Commercial Kit Information: <a href="http://mindstorms.lego.com/en-us/support/buildinginstructions/8547/8547%20User%20Guide%20English.aspx">Link</a></h3>
<h3>Express Bot Information: <a href="http://www.nxtprograms.com/9797/express-bot/index.html">Link</a></h3>
<h3>Tribot Building Instructions: <a href="http://mindstorms.lego.com/en-us/support/buildinginstructions/8527-/Tribot.aspx">Link</a></h3>

{% endblock %}
